<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="../Lisa.Excelsis.Mobile/Lisa.Excelsis.Mobile.Droid/packages.config" />
  <repository path="../Lisa.Excelsis.Mobile/Lisa.Excelsis.Mobile.iOS/packages.config" />
  <repository path="../Lisa.Excelsis.Mobile/Lisa.Excelsis.Mobile/packages.config" />
</repositories>